.first-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        &.video-desk {
            @media (max-width: 500px) {
                display: none;
            }
        }
        &.video-mobile {
            display: none;
            @media (max-width: 500px) {
                display: block;
            }
        }
    }
    .inner-box {
        border-radius: 12px;
        background: rgba(1, 1, 1, 0.60);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.889vw;
        padding: 3.333vw;
        position: relative;
        z-index: 1;
        @media (max-width: 1024px) {
            padding: 48px;
            gap: 56px;
        }
        .top {
            display: flex;
            flex-direction: column;
            gap: 1.111vw;
            @media (max-width: 1024px) {
                gap: 16px;
            }
            .title {
                font-size: 5.556vw;
                font-weight: 600;
                line-height: 110%;
                background: linear-gradient(151deg, #595959 -0.07%, #F0EFEF 34.59%, #8F9299 63.53%, #FFF 99.93%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                @media (max-width: 1024px) {
                    font-size: 56px;
                    font-weight: 500;
                }
                @media (max-width: 600px) {
                    font-size: 32px;
                }
            }
            .subtitle {
                text-align: center;
                color: #B1B5B8;
                font-size: 1.111vw;
                font-weight: 500;
                line-height: 140%;
                @media (max-width: 1024px) {
                    font-size: 16px;
                }
            }
        }
        .button {
            max-width: 30.069vw;
            width: 100%;
            height: 3.333vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: #D91722;
            color: #FFF;
            font-size: 1.111vw;
            font-weight: 500;
            line-height: 140%;
            transition: all .5s;
            &:hover {
                background: #8E0B12;
            }
            @media (max-width: 1024px) {
                max-width: 625px;
                width: 100%;
                height: 48px;
                font-size: 16px;
            }
        }
    }
}

.catalog-section {
    display: flex;
    flex-direction: column;
    gap: 2.222vw;
    @media (max-width: 1024px) {
        gap: 32px;
    }
    .container {
        width: 100%;
    }
    .swiper.catalog-slider {
        width: 100%;
        @media (max-width: 500px) {
            padding: 0 16px;
            box-sizing: border-box;
            padding-bottom: 40px;
            position: relative;
        }
        .swiper-wrapper {
            width: 100%;
        }
        .bottom-mobile-box {
            display: none;
            @media (max-width: 500px) {
                display: flex;
                position: absolute;
                justify-content: space-between;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0 16px;
            }
            .prev-slide-catalog {
                width: 24px;
                height: 24px;
                background-image: url(icons/arrow.svg);
                background-repeat: no-repeat;
                background-size: 24px 24px;
                background-position: center;
                cursor: pointer;
            }
            .next-slide-catalog {
                width: 24px;
                height: 24px;
                background-image: url(icons/arrow.svg);
                background-repeat: no-repeat;
                background-size: 24px 24px;
                background-position: center;
                transform: rotate(180deg);
                cursor: pointer;
            }
            .swiper-pagination {
                width: calc(100% - 48px - 16px - 32px);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                height: 2px;
                background: #9FA3A6;
                .swiper-pagination-progressbar-fill {
                    background: #D91722;
                    height: 2px;
                }
            }
        }
    }
    .inner-box {
        .box {
            width: 25%;
            height: 55.556vw;
            transition: all .5s;
            position: relative;
            padding: 2.222vw;
            box-sizing: border-box;
            flex-shrink: inherit;
            @media (max-width: 1024px) {
                height: 800px;
                padding: 32px;
            }
            @media (max-width: 600px) {
                height: 580px;
            }
            @media (max-width: 500px) {
                width: 95%;
                flex-shrink: 0;
            }
            &:not(:last-child) {
                &::before {
                    content: "";
                    width: 2px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #6C6C6C;
                    z-index: 1;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
            .title {
                color: #FFF;
                font-size: 2.222vw;
                font-weight: 500;
                line-height: 110%;
                position: absolute;
                z-index: 2;
                padding-bottom: 0.278vw;
                left: 50%;
                transform: translateX(-50%) rotate(-90deg);
                bottom: 25.222vw;
                width: 48.611vw;
                @media (max-width: 1024px) {
                    font-size: 32px;
                    width: 700px;
                    bottom: 360px;
                }
                @media (max-width: 600px) {
                    font-size: 24px;
                    text-align: center;
                    width: 580px;
                    bottom: 276px;
                }
                &::before {
                    content: "";
                    width: 8.681vw;
                    height: 2px;
                    display: block;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
            }
            &:hover {
                width: 45%;
                @media (max-width: 500px) {
                    width: 95%;
                }
            }
        }
    }
}

.about-us-section {
    display: flex;
    flex-direction: column;
    gap: 3.333vw;
    @media (max-width: 1024px) {
        gap: 32px;
    }
    .container {
        width: 100%;
    }
    .about-us-section-wrapper {
        width: 100%;
        position: relative;
        .video-box {
            width: 100%;
            height: 55.556vw;
            position: relative;
            @media (max-width: 500px) {
                height: 177.556vw;
            }
            &.video-desk {
                display: block;
                @media (max-width: 500px) {
                    display: none;
                }
            }
            &.video-mobile {
                display: none;
                @media (max-width: 500px) {
                    display: block;
                }
            }
            &:hover {
                .play {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
            img, video {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                cursor: pointer;
            }
            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 3.472vw;
                height: 3.472vw;
                cursor: pointer;
                z-index: 2;
                transition: all .5s;
                pointer-events: none;
                @media (max-width: 1024px) {
                    width: 50px;
                    height: 50px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .content-box {
            border-radius: 0 12px 12px 0;
            background: rgba(1, 1, 1, 0.70);
            backdrop-filter: blur(4px);
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 1.111vw;
            display: flex;
            flex-direction: column;
            gap: 1.111vw;
            padding: 1.667vw 1.667vw 1.667vw 4.444vw;
            @media (max-width: 1024px)  {
                position: static;
                padding: 24px;
                gap: 16px;
                background: transparent;
            }
            @media (max-width: 600px) {
                padding: 16px;
            }
            p {
                color: #FFF;
                font-family: "Montserrat";
                font-size: 1.111vw;
                font-weight: 500;
                line-height: 150%;
                max-width: 43.889vw;
                @media (max-width: 1024px) {
                    font-size: 16px;
                    max-width: 1000px;
                }
            }
        }
    }
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 3.333vw;
    position: relative;
    @media (max-width: 1024px) {
        gap: 32px;
    }
    .container {
        width: 100%;
    }
    .title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons {
            display: flex;
            @media (max-width: 1024px) {
                gap: 8px;
            }
            .prev-slide, .next-slide {
                width: 3.056vw;
                height: 3.056vw;
                background-image: url(icons/arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                cursor: pointer;
                &:hover {
                    filter: brightness(0) saturate(100%) invert(20%) sepia(68%) saturate(4133%) hue-rotate(346deg) brightness(84%) contrast(103%);
                }
                @media (max-width: 1024px) {
                    width: 40px;
                    height: 40px;
                }
                @media (max-width: 600px) {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    bottom: 0;
                    left: 16px;
                    z-index: 5;
                }
            }
            .next-slide {
                transform: rotate(180deg);
                @media (max-width: 600px) {
                    left: auto;
                    right: 16px;
                }
            }
        }
    }
    .project-slider-wrapper {
        width: 100%;
        .project-slider {
            width: 100%;
            padding: 0 4.444vw 1.667vw 4.444vw;
            @media (max-width: 1024px) {
                padding: 0 24px 24px 24px;
            }
            @media (max-width: 600px) {
                padding: 0 16px 48px 16px;
            }
            .swiper-wrapper {
                .swiper-slide {
                    width: auto;
                    img {
                        width: 67.917vw;
                        height: 45.431vw;
                        border-radius: 8px;
                        object-fit: cover;
                        @media (max-width: 1024px) {
                            width: 100%;
                            height: 52.083vw;
                        }
                        @media (max-width: 600px) {
                            height: 70vw;
                        }
                    }
                }
            }
            .swiper-pagination {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                top: auto;
                height: 2px;
                background-color: #9FA3A6;
                max-width: 91.112%;
                @media (max-width: 1024px) {
                    max-width: 100%;
                    width: calc(100% - 48px);
                }
                @media (max-width: 600px) {
                    width: calc(100% - 32px - 16px - 48px);
                    bottom: 11px;
                }
                .swiper-pagination-progressbar-fill {
                    background: #D91722;
                }
            }
        }
    }
}

.contact_us_section {
    width: 100%;
    min-height: 100vh;
    background-image: url(contacts/image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
        padding: 24px;
    }
    @media (max-width: 600px) {
        padding: 24px 16px;
    }
    .contact_us-box {
        width: 60.139vw;
        padding: 2.778vw;
        border-radius: 12px;
        background: rgba(1, 1, 1, 0.60);
        display: flex;
        flex-direction: column;
        gap: 2.778vw;
        @media (max-width: 1024px) {
            width: 100%;
            gap: 24px;
            padding: 24px;
        }
        @media (max-width: 600px) {
            padding: 24px 16px;
        }
    }
}

.philosophy-section {
    display: flex;
    flex-direction: column;
    gap: 3.333vw;
    position: relative;
    font-family: "Montserrat";
    position: relative;
    @media (max-width: 1024px) {
        gap: 32px;
    }
    #about-section {
        position: absolute;
        top: -60px;
        left: 0;
        display: block;
    }
    .container {
        width: 100%;
    }
    .philosophy-section-wrapper {
        display: flex;
        gap: 2.222vw;
        justify-content: center;
        align-items: center;
        @media (max-width: 1024px) {
            gap: 16px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        @media (max-width: 550px) {
            flex-direction: column;
            align-items: center;
        }
        .video-box {
            position: relative;
            width: 27.067vw;
            height: 52.014vw;
            @media (max-width: 1024px) {
                width: 45.067vw;
                height: 73.014vw;
            }
            @media (max-width: 550px) {
                width: 100%;
                height: 179.014vw;
            }
            .iframes-slider {
                width: 100%;
                height: 100%;
                padding: 0 0 3.667vw 0;
                @media (max-width: 1024px) {
                    padding: 0 0 50px 0;
                }
                @media (max-width: 550px) {
                    padding: 0 0 36px 0;
                }
                .swiper-wrapper {
                    width: 100%;
                    height: 100%;
                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                        iframe {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
                }
                .box {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                .swiper-pagination {
                    position: absolute;
                    bottom: 1.367vw;
                    left: 50%;
                    transform: translateX(-50%);
                    top: auto;
                    height: 2px;
                    background-color: #9FA3A6;
                    width: calc(100% - 3.056vw - 3.056vw - 1.056vw);
                    @media (max-width: 1024px) {
                        max-width: 100%;
                        width: calc(100% - 90px);
                        bottom: 20px;
                    }
                    @media (max-width: 550px) {
                        bottom: 11px;
                        width: calc(100% - 64px);
                    }
                    .swiper-pagination-progressbar-fill {
                        background: #D91722;
                    }
                }
                .prev-slide-iframes, .next-slide-iframes {
                    width: 3.056vw;
                    height: 3.056vw;
                    background-image: url(icons/arrow.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    cursor: pointer;
                    &:hover {
                        filter: brightness(0) saturate(100%) invert(20%) sepia(68%) saturate(4133%) hue-rotate(346deg) brightness(84%) contrast(103%);
                    }
                    @media (max-width: 1024px) {
                        width: 40px;
                        height: 40px;
                    }
                    @media (max-width: 600px) {
                        width: 24px;
                        height: 24px;
                    }
                }
                .next-slide-iframes {
                    transform: rotate(180deg);
                }
            }
        }
        .content-wrapper {
            width: calc(100% - 2.222vw - 27.067vw);
            display: flex;
            flex-direction: column;
            gap: 2.778vw;
            @media (max-width: 1024px) {
                gap: 0;
                width: calc(100% - 16px - 27.067vw);
            }
            @media (max-width: 550px) {
                width: 100%;
            }
            .box {
                display: flex;
                flex-direction: column;
                gap: 1.111vw;
                padding-left: 1.111vw;
                position: relative;
                @media (max-width: 1024px) {
                    padding-left: 16px;
                    gap: 16px;
                }
                &::before {
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: #D91722;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .title {
                    color: #F5F5F7;
                    font-size: 1.667vw;
                    font-weight: 600;
                    line-height: 150%;
                    @media (max-width: 1024px) {
                        font-size: 20px;
                    }
                }
                .text {
                    color: #DFE1E2;
                    font-size: 1.111vw;
                    font-weight: 500;
                    line-height: 150%;
                    @media (max-width: 1024px) {
                        font-size: 16px;
                    }
                    span {
                        font-weight: 800;
                    }
                }
                .items-box {
                    display: flex;
                    flex-direction: column;
                    gap: 0.556vw;
                    @media (max-width: 1024px) {
                        gap: 8px;
                    }
                    p {
                        color: #FFF;
                        font-size: 1.111vw;
                        font-weight: 500;
                        line-height: 150%;
                        padding-left: 1.111vw;
                        position: relative;
                        @media (max-width: 1024px) {
                            font-size: 16px;
                            padding-left: 16px;
                        }
                        span {
                            font-weight: 800;
                        }
                        &::before {
                            content: "";
                            width: 0.556vw;
                            height: 0.556vw;
                            background: linear-gradient(151deg, #595959 -0.07%, #F0EFEF 34.59%, #8F9299 63.53%, #FFF 99.93%);
                            border-radius: 50%;
                            position: absolute;
                            top: 0.625vw;
                            left: 0;
                            @media (max-width: 1024px) {
                                width: 8px;
                                height: 8px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}
